@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

:root {
  --main-color: #00474b;
  --second-color: #27c2ac;
  --third-color: #d2f0f3;
  --bg-color: #c4e4e7;
  --input-bg-color: #f3f8fb;
  --font-color: #3f6669;
}
a {
  text-decoration: none;
}

body {
  width: 100%;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero {
  width: 70%;
  height: 550px;
  display: flex;
  align-items: center;
  flex-direction: column;
  .title-area {
    margin-top: 25px;
    h3 {
      font-size: 18px;
      letter-spacing: 8px;
        
      color: var(--font-color);
    }
  }
  .calc-area {
    width: 80%;
    min-height: 350px;
    background: white;
    margin-top: 55px;
    border-radius: 25px;
    display: flex;

    .area-inputs{
       display: flex;
       justify-content: center;
        flex: 1;
        padding: 25px 15px;
        form{
            label{
                color: var(--font-color);
                font-weight: 600;
                font-size: 14px;
                padding: 10px 0;
                }
            .input-bill-area{
                display: flex;
                flex-direction: column;
                position: relative;
               p{
                   position: absolute;
                   top: 48px;
                   left: 10px;
                   color: var(--font-color);
                   font-weight: 600;
                   font-size: 18px;
               }
                input{
                    border: none;
                    background-color:var(--third-color);
                    height: 30px;
                    padding: 5px;
                    padding-right: 15px;
                     text-align: right;
                     font-size: 25px;
                     font-weight: 600;
                     color: var(--main-color);
                     width: 90%;
    
                }
            }
            .input-tip{
                margin: 15px 0px;
                label{
                    color: var(--font-color);
                    font-weight: 600;
                    font-size: 14px;
                    padding: 4px;
                }
                .input-tip-buttons{
                    display: flex;
                    flex-wrap: wrap;
                    .tip{
                        width: 47%;
                        height: 30px;
                        border: none;
                        background-color: var(--main-color);
                        color: white;
                        margin: 3px;
                        cursor: pointer;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 15px;
                        &:hover{
                            background: var(--second-color);
                        }
                    }
                    .tip, #tip-number{
                        width: 47%;
                        height: 30px;
                        border: none;
                        margin: 3px;
                        border-radius: 5px;
                    }
                    #tip-number{
                        background-color: var(--third-color);
                        color: var(--font-color);
                        text-align: center;
                        font-size: 15px;
                        font-weight: 600;
                    }
                }
            }
            .input-nPerson{
              position: relative;
                input{
                    border: none;
                    background-color:var(--third-color);
                    height: 30px;
                    padding: 5px;
                    padding-right: 15px;
                     text-align: right;
                     font-size: 25px;
                     font-weight: 600;
                     color: var(--main-color);
                     width: 90%;
                    
                }
                p{
                    position: absolute;
                    top: 30px;
                    left: 10px;
                    color: var(--font-color);
                    font-weight: 600;
                    font-size: 18px;
                }
            }
        }
    }
    .area-result{
        grid-area: b;
        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1;
        .results{
            width: 85%;
            height: 85%;
            min-height: 255px;
            background: var(--main-color);
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            .area-results{
                padding-top: 20px;
                width: 100%;
                .result-value{
                    display: flex;
                    justify-content: space-around;
                    padding: 10px;
                    margin: 10px;
                    .desc-result{
                        p,span{
                            font-size: 14px;
                        }
                        p{
                            color: white;
                        }
                        span{
                            color: var(--bg-color);
                        }
                    }
                    h3{
                        color: var(--second-color);
                        font-size: 34px;
                    }
                }
            }
            button{
                width: 80%;
                padding: 8px;
                border: none;
                border-radius: 5px;
                background-color: var(--second-color);
                font-weight: 700;
                color: var(--main-color);
                border: 2px solid var(--second-color);
                cursor: pointer;
                transition: .3s ease-in-out all;
                &:hover{
                    color: var(--bg-color);
                    background-color: var(--main-color);
                    border: 2px solid var(--second-color)
                }
            }
        }
    }
  }
}

@media (max-width:1118px){
    .hero {
        width: 100%;
        .calc-area {
            width: 85%;
        }
}
}

@media (max-width:625px){
    .hero {
        width: 100%;
        .calc-area {
            width: 95%;
           flex-direction: column;
           min-height: 670px;
            .area-result{
                .results{
                    width: 95%;
                }
            }
        }
}
}